@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*BODY*/
body {
    margin: 0;
    background-image: url("../resources/img/background_image.png");
    background-size: cover;
    backdrop-filter: blur(50px);
    font-family: 'Varela Round', sans-serif;
    height: 100%;
}

/*POKEMON PAGE*/
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}