/*MOBILE CONTAINER*/
.mobile-bar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

/*MOBILE CONTAINER TITLE*/
.mobile-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3px 12px;
    border-radius: 10px;
}

.mobile-title-container .mobile-title-icon {
    width: 35px;
    height: 35px;
}

.mobile-title-container span {
    font-size: 16px;
    color: white;
    color: #555;
    font-weight: 600;
}

/*BURGUER MENU*/
.burguer-menu-container img {
    width: 35px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.burguer-menu-container img:hover {
    transform: rotate(360deg) scale(1.2);
}

/* DROPDOWN MENU */
.mobile-menu {
    padding: 20px 0;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2;
    border-radius: 0 0 10px 10px;
}

.mobile-menu.active {
    display: flex;
}

/* DROPDOWN MENU OPTIONS*/
.mobile-menu .navbar-option-container {
    margin: 3px 10px;
}
