/*ERROR BOX CONTANIER - TYPE POKEMON LIST*/
.error-box.pokemon-list {
    flex: 1;
    background-color: rgba(0,0,0,0.4);
    color: white;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;   
    border: 2px solid black;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    box-sizing: border-box;
}

/*ERROR BOX CONTANIER - TYPE SELECTED POKEMON*/
.error-box.selected-pokemon {
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 380px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;   
    border: 2px solid black;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    box-sizing: border-box;
}

.error-box p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0 20px;
}

.error-box .pokemmon-image-container {
    display: flex;
    margin-top: 20px;
}

.error-box .pokemmon-image-container img {
    width: 50px;
    height: 50px;
}

/*MEDIA QUERIES*/
@media (max-width: 1600px) {
    /*ERROR BOX CONTANIER - TYPE SELECTED POKEMON*/
    .error-box.selected-pokemon{
        width: 320px;
    }
}

@media (max-width: 1400px) {
    /*ERROR BOX CONTANIER - TYPE SELECTED POKEMON*//
    .error-box.selected-pokemon {
        width: 300px;
        height: 90%;
    }
}
