/*EVOLUTION POKEMON CONTAINER*/
.evolution-chain-pokemon-container {
    margin: 10px;
    position: relative;
}

/*EVOLUTION TYPE LOGO*/
.evolution-chain-pokemon-container #evolution-type-logo {
    position: absolute;
    width: 150px;
    height: 150px;
    top: -15px;
    left: 40px;
    filter: blur(20px);
    z-index: -1;
}

/*EVOLUTION POKEMON IMAGE*/
.evolution-chain-pokemon-container .frame-pokemon-image {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.evolution-chain-pokemon-container .frame-pokemon-image img {
    width: 120px;
    height: 120px;
}

/*EVOLUTION POKEMON INFO*/
.evolution-chain-pokemon-container .pokemon-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

.evolution-chain-pokemon-container .pokemon-info p {
    margin: 0
}

.evolution-chain-pokemon-container .pokemon-info span {
    margin: 0;
    font-size: 13px;
    color: #ccc;
}

/*EVOLUTION - NEXT POKEMON - ICON*/
.evolution-chain-pokemon-container .next-icon-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.evolution-chain-pokemon-container .nextEvolution{
    width: 25px;
    height: 25px;
}