/*FEATURE CONTANIER*/
.feature-container {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

/*MEDIA QUERIES*/
@media (max-width: 1600px) {
    /*FEATURE CONTANIER*/
    .feature-container {
        display: none;
    }
}