/*LOADING SPINNER*/
.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
}

.loading-spinner-container img {
    width: 80px;
    height: 80px;
    animation: rotate-animation 1s linear infinite;
}

@keyframes rotate-animation {
	0% {
	    transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
	100% {
		transform: rotate(360deg);
	}
}

/*MEDIA QUERIES*/
@media (max-width: 1600px) {
    /*LOADING SPINNER*/
    .loading-spinner-container {
        width: 320px;
    }
}

@media (max-width: 1400px) {
    /*LOADING SPINNER*/
    .loading-spinner-container {
        width: 300px;
    }
}