.logo-container {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*MEDIA QUERIES*/
@media (max-width: 1600px) {

    .homepage-container .logo-container {
        display: none;
    }
}
