/*LOGO CONTAINER*/
.logo-container {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*MEDIA QUERIES*/
@media (max-width: 1600px) {
    /*LOGO CONTAINER*/
    .homepage-container .logo-container {
        display: none;
    }
}
