/*NAVBAR CONTAINER*/
.navbar-wrapper {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
}

.navbar-container {
    width: 65%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 15;

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}
