/*NAVBAR OPTION*/
.navbar-option-container {
    width: auto;
    display: flex;
    align-items: center;
    margin: 0 8px;

    padding: 8px 14px;
    border-radius: 30px;

    transition: background-color 0.2s ease;
    text-decoration: none;
}

/*NAVBAR ICON*/
.navbar-icon {
    width: 35px;
    height: 35px;
}

/*NAVBAR OPTION LINK (TEXT)*/
.navbar-option-container span {
    color: #555;
    font-weight: 600;
}

/*NAVBAR OPTION DISABLED)*/
.navbar-option-container.disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

/*NAVBAR OPTION SELECTED)*/
.navbar-option-container.active {
    background-color: rgba(163, 150, 150, 0.7);
    text-decoration: none;
}

/*NAVBAR OPTION - ANIMATION*/
.navbar-option-container:hover {
    background-color: rgba(163, 150, 150, 0.7);
    cursor: pointer;
}

/*MEDIA QUERIES*/
@media (max-width: 1100px) {

    /*NAVBAR ICON*/
    .navbar-icon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 900px) {
    /*NAVBAR OPTION*/
    .navbar-option-container {
        margin: 0 5px;
    }

    /*NAVBAR ICON*/
    .navbar-icon {
        width: 25px;
        height: 25px;
    }
}
