/*POKEMON CARD*/
.pokemon-card {
    width: 180px;
    height: 220px;
    background-color: rgba(0,0,0,0.35);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}

/*POKEMON BACKGROUND TYPE LOGO*/
.pokemon-card .type-logo {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 18px;
    filter: blur(30px);
    z-index: -1;
}

/*POKEMON FRAME CONTAINER*/
.pokemon-card .frame-box {
    width: 100%;
    height: 60%;
    margin: 0 10px 12px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; 
}

.pokemon-card .frame-box img {
    width: 60%;
}

/*POKEMON INFO BOX*/
.pokemon-card .label-box {
    margin-top: -10px;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start
}

/*POKEMON ID*/
.pokemon-card .id-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.id-box p{
    margin: 10px 0 0 0;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 13px;
}

/*POKEMON NAME*/
.pokemon-card .label-box p {
    margin: 0px 0px 5px 0px;
    text-align: center;
    color: white;
}
