/*POKEMON GRID CONTAINER*/
.pokemon-grid-container {
    flex: 1;        
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.pokemon-grid {
    width: 80%;
    display: flex;
}

/*CARD BASE*/
.selected-pokemon-box {
    display: flex;
    margin-left: 10px;
}

/*MEDIA QUERIES*/
@media (max-width: 1400px) {

    /*CARD BASE*/
    .selected-pokemon-box {
        align-items: center;
    }
}

@media (max-width: 1100px) {
    
    .pokemon-grid {
        width: 90%;
    }

    /*CARD BASE*/
    .selected-pokemon-box {
        display: none;
    }
}

@media (max-width: 800px) {
    
    .pokemon-grid {
        width: 95%;
    }
}