/*CARD BASE*/
.selected-pokemon-box{
    width: 25%;
    height: 100%;
}

.selected-pokemon-box .pokemon-selected-card {
    width: 100%;
    background-color: rgba(0,0,0,0.35);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-selected-card .card-base {
    width: 180px;
    height: 220px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}


