/*POKEMON GRID CONTAINER*/
.pokemon-grid-container {
    flex: 1;        
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.pokemon-grid {
    width: 80%;
    display: flex;
}

/*CARD BASE*/
.selected-pokemon-box {
    width: 25%;
    display: flex;
}
