.pokemon-preview-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-preview-card-container img{
    width: 220px;
}

/*MEDIA QUERIES*/
@media (max-width: 1100px) {

    .pokemon-preview-card-container.right {
        display: none;
    }

}