/*POKEMON LIST*/
.pokemon-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
    align-items: flex-start;
    overflow-y: auto;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pokemon-list::-webkit-scrollbar {
  display: none;
}