/*POKEMON GRID CONTAINER*/
.pokemon-grid-container {
    flex: 1;        
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}

.pokemon-grid {
    width: 80%;
    display: flex;
}

/*CARD BASE*/
.selected-pokemon-box {
    display: flex;
    margin-left: 10px;
}

/*CARD BASE MOBILE*/
.selected-pokemon-box-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black
}


/*MEDIA QUERIES*/
@media (max-width: 1400px) {

    /*CARD BASE*/
    .selected-pokemon-box {
        align-items: center;
    }
}

@media (max-width: 1100px) {
    
    .pokemon-grid {
        width: 90%;
    }

    /*CARD BASE*/
    .selected-pokemon-box {
        display: none;
    }

    /*CARD BASE MOBILE*/
    .selected-pokemon-box-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   

    .selected-pokemon-box-overlay .close-container{
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
    } 

    .selected-pokemon-box-overlay .close-container img{
        width: 35px;
        height: 35px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid white;
        cursor: pointer;
    } 
}

@media (max-width: 800px) {
    
    .pokemon-grid {
        width: 95%;
    }
}