@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    margin: 0;
    background-image: url("../resources/img/pokeball_background_image.jpg");
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(75px);
    font-family: 'Varela Round', sans-serif;
}

/*NAVBAR*/
.navbar-wrapper {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
}

.navbar-container {
    width: 65%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 15;

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.navbar-option-container {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px 14px;
    border-radius: 30px;

    transition: background-color 0.2s ease;
}

.navbar-option-container:hover {
    background-color: rgba(163, 150, 150, 0.771);
    cursor: pointer;
}

.navbar-icon {
    width: 35px;
    height: 35px;
}

.navbar-option-container a {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    font-size: 14px;
}

.navbar-option-container.disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

/*SEARCH BOX*/

/*SEARCH BAR*/
.pokemon-search-bar-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar-container {
    width: 30%;
    height: 50px;
    margin: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.search-input {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    width: 85%;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 30px;
}

.search-input:focus {
    outline: none;
}

.search-button-container{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button-container .navbar-icon{
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.5s ease;

}

.search-button-container .navbar-icon:hover{
    transform: rotate(180deg) scale(1.2);
}

/*FILTER BOX*/
.filter-box-container{
    width: 100%;
    height: 100px;
    background-color: lightgreen;
}