/*POKEMON LIST*/
.pokemon-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 185px);
    overflow-y: auto;
    gap:5px;
    justify-content: center;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pokemon-list::-webkit-scrollbar {
  display: none;
}


/*MEDIA QUERIES*/
@media (max-width: 1100px) {
    
    /*SEARCH BAR CONTAINER*/
    .pokemon-list {
        grid-template-columns: repeat(auto-fit, 160px);
    }
}

@media (max-width: 800px) {
    
    /*SEARCH BAR CONTAINER*/
    .pokemon-list {
        grid-template-columns: repeat(auto-fit, 140px);
    }
}

