/*SEARCH BAR CONTAINER*/
.pokemon-search-bar-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*MEDIA QUERIES*/
@media (max-width: 800px) {
    
    /*SEARCH BAR CONTAINER*/
    .pokemon-search-bar-container {
        margin-top: 0px;
    }
}