/*SEARCH BAR CONTAINER*/
.search-bar-container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SEARCH BAR*/
.search-bar {
    width: 500px;
    height: 45px;
    margin: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/*SEARCH INPUT*/
.search-input {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    width: 85%;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 30px;
}

/*SEARCH BAR - FOCUS*/
.search-input:focus {
    outline: none;
}

/*SEARCH BAR BUTTON*/
.search-button-container{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button-container .search-bar-icon{
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.5s ease;

}

/*SEARCH BAR BUTTON - ANIMATION*/
.search-button-container .search-bar-icon:hover{
    transform: rotate(180deg) scale(1.2);
}


/*FILTER BUTTON CONTAINER*/
.filter-button-container{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    display: none;
    cursor: pointer;
}

/*REFRESH BUTTON CONTAINER*/
.refresh-button-container{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}


/*REFRESH AND FILTER ICON*/
.filter-button-container #icon, .refresh-button-container #icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: white;
    border-radius: 25px;
    transition: transform 0.5s ease;
}

 
.filter-button-container #icon.open {
     transform: rotate(180deg);
    transition: transform 0.5s ease;
}


.refresh-button-container #icon:hover {
    transform: rotate(180deg) scale(1.2);
    transition: transform 0.5s ease;
}

/*MEDIA QUERIES*/
@media (max-width: 1300px) {

    /*SEARCH BAR CONTAINER*/
    .search-bar-container {
        width: 40%;
    }
}

@media (max-width: 1100px) {

    /*SEARCH BAR CONTAINER*/
    .search-bar-container {
        margin: 10px 0;
        height: 45px;
        width: 60%;
    }

    /*SEARCH BAR*/
    .search-bar {
        height: 40px;
    }

    .search-input {
        font-size: 14px;
        height: 35px;
    }
}

@media (max-width: 800px) {

    /*FILTER BUTTON CONTAINER*/
    .filter-button-container{
        display: flex;
    }

    /*REFRESH BUTTON CONTAINER*/
    .refresh-button-container{
        display: flex;
    }
}

@media (max-width: 600px) {

    /*SEARCH BAR CONTAINER*/
    .search-bar-container {
        width: 80%;
    }

}