/*SELECT MENU - OPTIONS*/
.select-options {
    position: absolute;
    width: 200px;
    max-height: 160px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    transition: opacity 0.2s ease,transform 0.2s ease;
    z-index: 10;
}

/*SELECT MENU - OPTIONS VISIBLE*/
.select-menu .select-options.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(14px); 
    transition: opacity 0.2s ease,transform 0.2s ease;
}

.select-menu .select-option {
    height: 30px;
    cursor: pointer;
    background-color: blue;
    border: 3px solid lightcoral;
}