/*SELECT MENU - OPTIONS*/
.select-options {
    position: absolute;
    width: 200px;
    max-height: 160px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    transition: opacity 0.2s ease,transform 0.2s ease;
    z-index: 10;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.select-options ::-webkit-scrollbar {
  display: none;
}

/*SELECT MENU - OPTIONS VISIBLE*/
.select-menu .select-options.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(14px); 
    transition: opacity 0.2s ease,transform 0.2s ease;
}

.select-menu .select-option {
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
}


.select-menu .select-option:hover {
    background-color: rgba(163, 150, 150, 0.7);
    color: white;
}

.select-menu .select-option img{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

/*MEDIA QUERIES*/
@media (max-width: 1100px) {

    /*SELECT MENU - OPTIONS*/
    .select-options {
        width: 180px;
        margin-top: -10px;
    }

    .select-menu .select-option:hover {
        background-color: rgba(163, 150, 150);
        color: black;
    }
}

/*MEDIA QUERIES*/
@media (max-width: 800px) {
    
    /*SELECT MENU - OPTIONS*/
    .select-options {
        width: 230px;
        margin-top: -10px;
    }

    .select-menu .select-option:hover {
        background-color: rgba(163, 150, 150);
        color: black;
    }
}